@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
/* font-family: "Parkinsans", sans-serif; */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Parkinsans", sans-serif;
}

:root {
  --rouge: #ff0044;
  --bleulet: #250044;
}

main {
  padding-inline: 20vw;
  padding-top: 80px;
}
h3 > span:first-of-type {
  display: block;
}
h3 > span:nth-of-type(2) {
  display: none;
}

code,
p {
  font-size: clamp(0.5rem, 1vw, 1rem);
}

html {
  background-color: #fcf7ef;
  overflow-x: hidden;
}

/* HEADER  */
/* HEADER  */
nav-bar {
  position: fixed;
  z-index: 100;
  width: 100vw;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.205));
}
header {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-block: 5px;
  top: 0;
  left: 0;
}
#logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo_container img {
  width: 40px;
  height: auto;
}

#logo_container span {
  color: var(--rouge);
  font-size: 1.7rem;
}

#menu_button {
  background-color: none;
  border: none;
}

#side-bar {
  height: 100dvh;
  transition: all 0.5s ease;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  top: 0;
  right: 100px;
  left: 70%;
  border: none;
  padding: 20px 20px;
}

#side-bar::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.5s ease;
  @starting-style {
    opacity: 0;
  }
}
/* HEADER  */
/* HEADER  */

/* BODY  */
/* BODY  */

.titles {
  color: var(--rouge);
  font-size: clamp(1.5em, 2vw, 3em);
  text-align: center;
}

#accueil {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
  padding-inline: 5vw;
}

#accueil hr {
  margin: 20px 0;
}

#title {
  font-weight: 300;
}

#presentation_section,
#quand_utiliser_section,
exemple-section > section,
#conclusion_section {
  text-align: justify;
  margin-bottom: 40px;
}
.nav_alert {
  background-color: #ffcccc;
  color: #900;
  padding: 10px;
  border: 1px solid #900;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.presentation_paragraph {
  color: var(--bleulet);
  margin-bottom: 15px;
}

.code_container code {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#support_navigateur {
  display: flex;
  flex-direction: row;
}

.navigateur {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigateur img {
  width: 50%;
}

/* EXEMPLE SECTION  */
/* EXEMPLE SECTION  */

.output_img {
  width: 80%;
  height: auto;
  border: none;
}

.exemple > .output {
  position: relative;
  anchor-name: --anchor;
}
dialog {
  position: absolute;
  position-anchor: --my-anchor;
  position-area: bottom;
  background-color: #1e2901;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  padding: 10px;
  border-radius: 15px;
  color: white;
  border: none;
  font-size: clamp(10px, 1vw, 15px);
  transition: all 0.5s ease;
}
.exemple:first-of-type dialog {
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}
.exemple > .output > div:hover dialog {
  display: block;
}
#hover,
#popover {
  margin-top: 50px;
  width: 100%;
}
#hover > div,
#popover > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#hover h3,
#popover h3 {
  color: #ff0044;
  position: relative;
  font-size: clamp(15px, 2vw, 35px);
}
#hover h3::after,
#popover h3::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 3px;
  top: 100%;
  left: 50%; /* Positionne le milieu à 50% */
  transform: translateX(-50%); /* Centre l'élément */
  border-radius: 3px;
  background-color: #ff0044;
}
.exemple {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 20vw;
}
.exemple > p {
  margin-bottom: 20px;
}
.output {
  width: 100%;
  height: 20vw;
  background-color: white;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  margin-bottom: 10px;
  display: grid;
  place-items: center;
}

.explaination {
  margin-top: 20px;
}

.btn {
  background-color: var(--rouge);
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 10px 15px;
  color: #fcf7ef;
  border-radius: 10px;
  cursor: pointer;
  transition: filter 0.3s ease-out;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  font-size: clamp(15px, 2vw, 35px);
}
.btn:hover {
  filter: drop-shadow(0 0 3px #ff0044);
}

.popover {
  text-align: start;
  border: none;
  width: 50vw;
  max-height: 80dvh;
  opacity: 1;
  transition: all 0.5s ease;
  border-radius: 25px;
  margin: 0;
  margin-inline: auto;
  top: 50px;
  padding-block: 20px;
  padding-inline: 5vw;
}
.popover::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

#my-popover {
  @starting-style {
    opacity: 0;
    translate: 0 -50px;
  }
}
.overflow-Y {
  overflow-y: scroll;
  max-height: 400px;
}

/* EXEMPLE SECTION  */
/* EXEMPLE SECTION  */

/* PROS & CONS  */
/* PROS & CONS  */

#pros_cons_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pros,
.cons {
  width: 90vw;
  text-align: center;
  margin: 20px 0;
  border-radius: 10px;
}

.pros ul,
.cons ul {
  list-style-type: none;
}

#pros_cons_section div:nth-child(odd) {
  background-color: rgb(68, 168, 68);
  border: 3px solid rgb(25, 107, 25);
}

#pros_cons_section div:nth-child(even) {
  background-color: rgb(168, 68, 68);
  border: 3px solid rgb(117, 35, 35);
}

.pros_cons_title {
  font-size: 1.5rem;
}

/* PROS & CONS  */
/* PROS & CONS  */

/* BODY  */
/* BODY  */

/* FOOTER  */
/* FOOTER  */
footer {
  background-color: white;
  text-align: center;
}
/* FOOTER  */
/* FOOTER  */

@media only screen and (max-width: 600px) {
  main {
    padding-inline: 5vw;
  }
  h3 > span:first-of-type {
    display: none;
  }
  h3 > span:nth-of-type(2) {
    display: block;
  }
  .popover {
    width: 90vw;
  }
  .overflow-Y {
    max-height: 300px;
  }
}
