@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
/* font-family: "Parkinsans", sans-serif; */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "Parkinsans", sans-serif;
}

:root {
  --rouge: #ff0044;
  --bleulet: #250044;
}

@media only screen and (min-width: 600px) {
  body {
    background-color: var(--rouge);
  }
}

html {
  background-color: #fcf7ef;
  overflow-x: hidden;
}

/* HEADER  */
/* HEADER  */

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
#logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logo_container img {
  width: 40px;
  height: auto;
}

#logo_container span {
  color: var(--rouge);
  font-size: 1.7rem;
}

#menu_button {
  background-color: none;
  border: none;
}

#side-bar {
  height: 100dvh;
  transition: all 0.5s ease;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  top: 0;
  right: 0;
  left: 70%;
  border: none;
  padding: 20px 20px;
  @starting-style {
    translate: 100% 0;
  }
}

#side-bar::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all 0.5s ease;
  @starting-style {
    opacity: 0;
  }
}
/* HEADER  */
/* HEADER  */

/* BODY  */
/* BODY  */

.titles {
  color: var(--rouge);
  font-size: 1.5rem;
}

#accueil {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
  padding-inline: 5vw;
}

#accueil hr {
  margin: 20px 0;
}

#title {
  font-weight: 300;
}

#presentation_section,
#quand_utiliser_section,
exemple-section > section,
#conclusion_section {
  width: 90dvw;
  margin-inline: auto;
  text-align: justify;
  margin-bottom: 40px;
}

.nav_alert {
  background-color: #ffcccc;
  color: #900;
  padding: 10px;
  border: 1px solid #900;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  font-weight: bold;
}

.presentation_paragraph {
  color: var(--bleulet);
  margin-bottom: 15px;
}

.language-css {
  background-color: rgb(16, 16, 39);
  margin-bottom: 15px;
}

.code_container code {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#support_navigateur {
  display: flex;
  flex-direction: row;
}

.navigateur {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigateur img {
  width: 50%;
}

/* EXEMPLE SECTION  */
/* EXEMPLE SECTION  */

.output_img {
  width: 80%;
  height: auto;
  border: none;
}

/* EXEMPLE SECTION  */
/* EXEMPLE SECTION  */

/* PROS & CONS  */
/* PROS & CONS  */

#pros_cons_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pros, .cons {
  width: 90vw;
  text-align: center;
  margin: 20px 0;
  border-radius: 10px;
}

.pros ul, .cons ul {
  list-style-type: none;
}

#pros_cons_section div:nth-child(odd) {
  background-color: rgb(68, 168, 68);
  border: 3px solid rgb(25, 107, 25);
}

#pros_cons_section div:nth-child(even) {
  background-color: rgb(168, 68, 68);
  border: 3px solid rgb(117, 35, 35);
}

.pros_cons_title {
  font-size: 1.5rem;
}


/* PROS & CONS  */
/* PROS & CONS  */

/* BODY  */
/* BODY  */

/* FOOTER  */
/* FOOTER  */
footer {
  background-color: white;
  text-align: center;
}
/* FOOTER  */
/* FOOTER  */
